.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;             /* fill the viewport horizontally */
  }
  
  .auth-box {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    background-color: rgb(56, 56, 56);
  }

  form {
    display: flex;
    flex-direction: column;
  }
  form > * + * {
    margin-top: 1rem;
  }

  .auth-inner {
    width: 400px;
  }
  
  .auth-title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
  }
  